aside.sidenav
  .sidenav__brand
    i.fas.fa-feather-alt.sidenav__brand-icon
    a.sidenav__brand-link(href='#')
      | Ux
      span.text-light Pro
    i.fas.fa-times.sidenav__brand-close
  .sidenav__profile
    .sidenav__profile-avatar
    .sidenav__profile-title.text-light Iván Albizu
  .row.row--align-v-center.row--align-h-center
    ul.navList
      li.navList__heading
        | documents
        i.far.fa-file-alt
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-briefcase-medical
          span.navList__subheading-title insurance
        ul.subList.subList--hidden
          li.subList__item medical
          li.subList__item vision
          li.subList__item dental
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-plane-departure
          span.navList__subheading-title travel
        ul.subList.subList--hidden
          li.subList__item domestic
          li.subList__item foreign
          li.subList__item misc
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.far.fa-angry
          span.navList__subheading-title taxes
        ul.subList.subList--hidden
          li.subList__item current
          li.subList__item archives
      li.navList__heading
        | messages
        i.far.fa-envelope
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-envelope
          span.navList__subheading-title inbox
        ul.subList.subList--hidden
          li.subList__item primary
          li.subList__item social
          li.subList__item promotional
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-eye
          span.navList__subheading-title unread
        ul.subList.subList--hidden
          li.subList__item primary
          li.subList__item social
          li.subList__item promotional
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-book-open
          span.navList__subheading-title archives
        ul.subList.subList--hidden
          li.subList__item primary
          li.subList__item social
          li.subList__item promotional
      li.navList__heading
        | photo album
        i.far.fa-image
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-mountain
          span.navList__subheading-title vacation
        ul.subList.subList--hidden
          li.subList__item cambodia
          li.subList__item new york
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-wine-glass-alt
          span.navList__subheading-title anniversary
        ul.subList.subList--hidden
          li.subList__item dive trip
          li.subList__item hikathon
          li.subList__item buffalo river
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-graduation-cap
          span.navList__subheading-title university
        ul.subList.subList--hidden
          li.subList__item wild horse saloon
          li.subList__item service corps
          li.subList__item graduation
          li.subList__item internships
      li.navList__heading
        | statistics
        i.fas.fa-chart-bar
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-credit-card
          span.navList__subheading-title finances
        ul.subList.subList--hidden
          li.subList__item mortgage
          li.subList__item investments
          li.subList__item spend log
          li.subList__item owed
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-phone
          span.navList__subheading-title call stats
        ul.subList.subList--hidden
          li.subList__item last month
          li.subList__item bi-weekly
          li.subList__item yesterday
          li.subList__item today
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-plane
          span.navList__subheading-title trip logs
        ul.subList.subList--hidden
          li.subList__item amsterdam
          li.subList__item buenos aires
          li.subList__item cambodia
          li.subList__item greenland
      li.navList__heading
        | Events
        i.fas.fa-calendar-alt
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-wine-glass-alt
          span.navList__subheading-title weddings
        ul.subList.subList--hidden
          li.subList__item past
          li.subList__item present
          li.subList__item future
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-school
          span.navList__subheading-title playdates
        ul.subList.subList--hidden
          li.subList__item weirdos
          li.subList__item smarties
          li.subList__item nerds
      li
        .navList__subheading.row.row--align-v-center
          span.navList__subheading-icon
            i.fas.fa-users
          span.navList__subheading-title networking
        ul.subList.subList--hidden
          li.subList__item tech
          li.subList__item automotive
          li.subList__item UX research
          li.subList__item development