aside.sidenav
  .sidenav__brand
    i.fas.fa-feather-alt.sidenav__brand-icon
    a.sidenav__brand-link(href='/')
      | Open to 
      span.text-light work
    i.fas.fa-times.sidenav__brand-close
  .sidenav__profile
    .sidenav__profile-avatar
    .sidenav__profile-title.text-light Iván Albizu
  .row.row--align-v-center.row--align-h-center
    ul.navList
      li.navList__heading
        | Transporters
        i.far.fa-file-alt
      li
        ul.subList
          li.subList__item
            a(href='/transporters/listar') listado
          li.subList__item
            a(href='/transporters/crear') crear
      li.navList__heading
        | Emails
        i.far.fa-envelope
      li
        ul.subList
          li.subList__item
            a(href='/email') enviar email
      li.navList__heading
        | Contactos
        i.far.fa-address-book
      li
        ul.subList
          li.subList__item
            a(href='/contacts/listar') listado
          li.subList__item
            a(href='/contacts/crear') crear
