footer.footer
  p
    span.footer__copyright &copy;  
    | !{new Date().getFullYear()}
  p
    | Crafted with 
    i.fas.fa-heart.footer__icon
    |  by 
    a.footer__signature(href='https://ivanalbizu.eu/' target='_blank') Iván Albizu
