header.header
  i.fas.fa-bars.header__menu
  .header__title
    h1.title Open to work
  .header__avatar
    .dropdown
      ul.dropdown__list
        li.dropdown__list-item
          span.dropdown__icon
            i.far.fa-user
          span.dropdown__title mi perfil
        li.dropdown__list-item
          span.dropdown__icon
            i.fas.fa-clipboard-list
          span.dropdown__title mi cuenta
        li.dropdown__list-item
          span.dropdown__icon
            i.fas.fa-sign-out-alt
          span.dropdown__title desconectar