header.header
  i.fas.fa-bars.header__menu
  .header__search
    input.header__input(placeholder='Search...')
  .header__avatar
    .dropdown
      ul.dropdown__list
        li.dropdown__list-item
          span.dropdown__icon
            i.far.fa-user
          span.dropdown__title my profile
        li.dropdown__list-item
          span.dropdown__icon
            i.fas.fa-clipboard-list
          span.dropdown__title my account
        li.dropdown__list-item
          span.dropdown__icon
            i.fas.fa-sign-out-alt
          span.dropdown__title log out