.main-overview
  .overviewCard
    .overviewCard-icon.overviewCard-icon--document
      i.far.fa-address-card
    .overviewCard-description
      h3.overviewCard-title.text-light
        strong Contactos
      p.overviewCard-subtitle Tu agenda de contactos
  .overviewCard
    .overviewCard-icon.overviewCard-icon--calendar
      i.far.fa-file-code
    .overviewCard-description
      h3.overviewCard-title.text-light
        strong Templates 
      p.overviewCard-subtitle Tus currículums
  .overviewCard
    .overviewCard-icon.overviewCard-icon--mail
      i.far.fa-envelope
    .overviewCard-description
      h3.overviewCard-title.text-light
        strong Cartas 
      p.overviewCard-subtitle Tus cartas de presentación
