.main-overview
  .overviewCard
    .overviewCard-icon.overviewCard-icon--document
      i.far.fa-file-alt
    .overviewCard-description
      h3.overviewCard-title.text-light
        | New 
        strong Document
      p.overviewCard-subtitle Europe Trip
  .overviewCard
    .overviewCard-icon.overviewCard-icon--calendar
      i.far.fa-calendar-check
    .overviewCard-description
      h3.overviewCard-title.text-light
        | Upcoming 
        strong Event
      p.overviewCard-subtitle Chili Cookoff
  .overviewCard
    .overviewCard-icon.overviewCard-icon--mail
      i.far.fa-envelope
    .overviewCard-description
      h3.overviewCard-title.text-light
        | Recent 
        strong Emails
      p.overviewCard-subtitle +10
  .overviewCard
    .overviewCard-icon.overviewCard-icon--photo
      i.far.fa-file-image
    .overviewCard-description
      h3.overviewCard-title.text-light
        | New 
        strong Album
      p.overviewCard-subtitle House Concert