.main-header
  .main-header__intro-wrapper
    .main-header__welcome
      .main-header__welcome-title.text-light
        | Welcome, 
        strong Matthew
      .main-header__welcome-subtitle.text-light How are you today?
    .quickview
      .quickview__item
        .quickview__item-total 41
        .quickview__item-description
          i.far.fa-calendar-alt
          span.text-light Events
      .quickview__item
        .quickview__item-total 64
        .quickview__item-description
          i.far.fa-comment
          span.text-light Messages
      .quickview__item
        .quickview__item-total 27&deg;
        .quickview__item-description
          i.fas.fa-map-marker-alt
          span.text-light Austin