.main-header
  .main-header__intro-wrapper
    .main-header__welcome
      .main-header__welcome-title.text-light
        | Bienvenid@, 
        strong Iván Albizu
      .main-header__welcome-subtitle.text-light ¿Cómo estás hoy?
    .quickview
      .quickview__item
        .quickview__item-total 2
        .quickview__item-description
          i.far.fa-envelope
          span.text-light Emails
      .quickview__item
        .quickview__item-total 12
        .quickview__item-description
          i.far.fa-file-code
          span.text-light Templates
      .quickview__item
        .quickview__item-total 66
        .quickview__item-description
          i.fas.fa-address-card
          span.text-light Contactos