extends ../base

block content

  // header
  include ../includes/header.pug

  // aside menu
  include ../includes/aside-sidenav.pug
  main.main
    h2.title-page Página principal de Emails Builder
    .main__cards
      .card
        .card__header
          .card__header-title.text-light Templates 
        .card__main
          ul#html-templates.html-templates
      .card
        .card__header
          .card__header-title.text-light Crear Template 
        .card__main
          .input-field
            label.label(for='create-template') 
              span Nombre
              input(type='text' id='create-template' name='create-template' autocomplete='off')
          .input-field.button
            a.btn(class='js-create-template' href='#!') Crear template

  // footer
  include ../includes/footer.pug
