extends ../base

block content

  // header
  include ../includes/header.pug
  script.
    const templateID = !{JSON.stringify(id)}
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.16.41/css/grapes.min.css')
  script(src="/js/grapes.min.js")
  script(src='/js/grapesjs-mjml.min.js')
  script(src='/js/grapesjs-indexeddb.min.js')

  // aside menu
  include ../includes/aside-sidenav.pug
  main.main
    <div id="gjs">
      <mjml>
        <mj-body>
          <mj-section></mj-section>
        </mj-body>
      </mjml>
    </div>

  // footer
  include ../includes/footer.pug
