extends ../base

block content

  // header
  include ../includes/header.pug
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.16.41/css/grapes.min.css')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.16.41/grapes.min.js")
  script(src='https://unpkg.com/grapesjs-mjml@0.1.15/dist/grapesjs-mjml.min.js')
  script(src='https://cdn.jsdelivr.net/npm/grapesjs-indexeddb@0.1.1/dist/grapesjs-indexeddb.min.js')

  // aside menu
  include ../includes/aside-sidenav.pug
  main.main
    div id #{id}
    div
      ul#html-templates Contenedor para seleccionar Templates
    <div id="gjs">
      <mjml>
        <mj-body>
          <mj-section>
            <mj-column>
              <mj-text>My Company</mj-text>
            </mj-column>
          </mj-section>
        </mj-body>
      </mjml>
    </div>

  script(src='/js/grapesjs.js')
  // footer
  include ../includes/footer.pug
