extends base

block content

  // header
  include includes/header.pug

  // aside menu
  include includes/aside-sidenav.pug
  main.main.transporter-page
    .main__cards
      h2.title-page Configura tus Transporters para hacer envíos de Emails
      .card
        .card__header
          .card__header-title.text-light
            | Tus 
            strong Transporters 
        .card__main.data-list

  // footer
  include includes/footer.pug
