extends ../base

block content

  // header
  include ../includes/header.pug

  // aside menu
  include ../includes/aside-sidenav.pug
  main.main.transporter-page
    h2.title-page Configura tus Transporters para hacer envíos de Emails
    .main__cards.transporter-lists

  // footer
  include ../includes/footer.pug
